.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 227px 88px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 201px;
    margin-left: 68px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 307px;
    margin-right: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 373px;
    margin-right: 373px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 446px;
    margin-right: 446px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 633px;
}

.u-section-2 .u-shape-1 {
  width: 576px;
  height: 483px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 587px;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -385px 41px 0 651px;
}

.u-section-2 .u-shape-2 {
  width: 650px;
  height: 526px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -339px 513px 0 -23px;
}

.u-section-2 .u-image-1 {
  width: 746px;
  height: 526px;
  animation-duration: 1000ms;
  margin: -526px auto 60px 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-2 .u-shape-1 {
    width: 492px;
    height: 412px;
    margin-top: 1px;
    margin-right: -22px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -356px;
    margin-right: -22px;
    margin-left: 540px;
  }

  .u-section-2 .u-shape-2 {
    width: 520px;
    height: 451px;
    margin-top: -292px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-2 .u-image-1 {
    width: 671px;
    height: 459px;
    margin-top: -459px;
    margin-bottom: 30px;
    margin-left: -33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-right: 175px;
    margin-left: 304px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 433px;
    margin-left: 259px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 20px;
    margin-right: 433px;
    margin-left: 259px;
  }

  .u-section-2 .u-image-1 {
    height: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5838px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 392px;
    margin-left: 300px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -339px;
    margin-right: auto;
    margin-left: 250px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 370px;
    margin-top: -526px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-left: 350px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 233px;
    margin-top: -654px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 715px;
}

.u-section-3 .u-line-1 {
  width: 1040px;
  height: 3px;
  margin: 29px auto 0 130px;
}

.u-section-3 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 83px 196px 0;
}

.u-section-3 .u-line-2 {
  width: 1040px;
  height: 3px;
  margin: 51px auto 0 130px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 997px);
  height: 189px;
  margin: 138px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 174px;
  width: 176px;
  margin: -174px calc(((100% - 1140px) / 2) + 363px) 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 25.6px;
  font-size: 3rem;
  font-weight: 700;
  margin: -107px calc(((100% - 1140px) / 2) + 638px) 60px calc(((100% - 1140px) / 2) + 78px);
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 50vw;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
    margin-top: 36px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-left: 147px;
    margin-right: 147px;
  }

  .u-section-3 .u-line-2 {
    width: 940px;
    margin-top: 36px;
    margin-left: 50px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
    height: 223px;
    margin-top: 102px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-1 {
    height: 186px;
    width: 186px;
    margin-right: calc(((100% - 1140px) / 2) + 322px);
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -136px;
    margin-right: calc(((100% - 940px) / 2) + 431px);
    margin-left: calc(((100% - 940px) / 2) + 85px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + -675px);
    margin-left: calc(((100% - 1140px) / 2) + 1095px);
  }

  .u-section-3 .u-line-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
    margin-right: 0;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-icon-1 {
    margin-right: calc(((100% - 1140px) / 2) + 432px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 432px);
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 783px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 1275px);
  }

  .u-section-3 .u-line-2 {
    width: 540px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-icon-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 432px);
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 432px);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 50vw;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 1475px);
  }

  .u-section-3 .u-line-2 {
    width: 340px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-icon-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-2 {
    margin-top: -136px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 3057px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 54px 475px 0 -15px;
}

.u-section-4 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 127px 244px 0 544px;
}

.u-section-4 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 0 -51px 0 554px;
}

.u-section-4 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 224px 770px 0 -15px;
}

.u-section-4 .u-text-5 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 0 537px 0 -15px;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 411px -213px 0 255px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1;
  animation-duration: 1000ms;
  margin: 6px -568px 0 610px;
}

.u-section-4 .u-text-8 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 87px 261px 0 -219px;
}

.u-section-4 .u-image-1 {
  width: 477px;
  height: 2778px;
  margin: -1749px 304px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 420px;
  height: 297px;
  animation-duration: 1000ms;
  margin: -1647px auto 0;
}

.u-section-4 .u-image-3 {
  width: 1322px;
  height: 39px;
  animation-duration: 1000ms;
  margin: 105px -606px 0 auto;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 661px -206px 0 658px;
}

.u-section-4 .u-image-4 {
  width: 1322px;
  height: 39px;
  animation-duration: 1000ms;
  margin: -119px -669px 0 auto;
}

.u-section-4 .u-text-10 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -73px -317px 0 359px;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: -249px 336px 0 115px;
}

.u-section-4 .u-text-12 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -74px 219px 0 -177px;
}

.u-section-4 .u-image-5 {
  width: 1355px;
  height: 40px;
  animation-duration: 1000ms;
  margin: -261px auto 0 -660px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 989px auto 0 306px;
  padding: 9px 32px 10px;
}

.u-section-4 .u-text-13 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 27px 21px 0;
}

.u-section-4 .u-image-6 {
  width: 1355px;
  height: 40px;
  animation-duration: 1000ms;
  margin: -495px auto 60px -1678px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3069px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 82px;
    margin-right: 375px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: -205px;
    margin-left: 453px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -6px;
    margin-right: -50px;
    margin-left: 453px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 219px;
    margin-right: 277px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 451px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 360px;
    margin-right: -237px;
    margin-left: 237px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: -520px;
    margin-left: 520px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 51px;
    margin-right: 180px;
    margin-left: -180px;
  }

  .u-section-4 .u-image-1 {
    height: 2780px;
    margin-top: -1729px;
    margin-right: auto;
    margin-left: 290px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1608px;
    margin-right: 246px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 812px;
    margin-right: -728px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -11px;
    margin-right: -95px;
    margin-left: 453px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -863px;
    margin-right: -740px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 671px;
    margin-right: -237px;
    margin-left: 237px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: -324px;
    margin-right: 482px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: -185px;
    margin-right: 206px;
    margin-left: -206px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -28px;
    margin-left: -610px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 736px;
    margin-left: 227px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    margin-top: -1319px;
    margin-left: -765px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 5107px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 265px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 34px;
    margin-left: 80px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 343px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 167px;
    margin-left: 348px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 117px;
    margin-left: 183px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 2041px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -2918px;
    margin-left: 243px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1072px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: 246px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 700px;
    margin-right: 178px;
    margin-left: 97px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 20px;
    margin-right: 178px;
    margin-left: 97px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-top: 394px;
    margin-right: 31px;
    margin-left: 285px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
    margin-left: 285px;
    margin-right: 31px;
  }

  .u-section-4 .u-image-5 {
    width: 720px;
    height: 21px;
    margin-top: -277px;
    margin-right: 31px;
    margin-left: 285px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -555px;
    margin-left: 7px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -705px;
    margin-right: 116px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -1069px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4250px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 175px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 3.75rem;
    margin-right: 2px;
    margin-left: 261px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 137px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 2137px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 55px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -2847px;
    margin-left: 63px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1167px;
    margin-right: 120px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 16px;
    margin-right: 120px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 673px;
    margin-right: 134px;
    margin-left: 73px;
  }

  .u-section-4 .u-image-4 {
    width: 540px;
    height: 16px;
    margin-right: 134px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -73px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 326px;
    margin-right: 0;
    margin-left: 214px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 214px;
  }

  .u-section-4 .u-image-5 {
    width: 540px;
    height: 16px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -808px;
    margin-right: 0;
    margin-left: 214px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -496px;
    margin-right: 0;
    margin-left: 214px;
  }

  .u-section-4 .u-image-6 {
    width: 540px;
    height: 16px;
    margin: 806px 0 0 214px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4089px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    margin-left: 38px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 164px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 86px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 1896px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 1982px;
    margin-top: -2594px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 241px;
    margin-top: -704px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 10px;
    margin-top: 143px;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 551px;
    margin-right: 84px;
    margin-left: 46px;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 10px;
    margin-top: -147px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-10 {
    margin-top: -16px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 414px;
    margin-left: 135px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 75px;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    width: 340px;
    height: 10px;
    margin-top: -641px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 36px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-top: -107px;
    margin-right: 55px;
    margin-left: 0;
  }

  .u-section-4 .u-image-6 {
    width: 340px;
    height: 10px;
    margin: -358px auto 60px 0;
  }
}