.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 227px 88px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 201px;
    margin-left: 68px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 147px;
    margin-left: -23px;
    margin-right: -23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-group-1 {
  width: 576px;
  background-image: none;
  animation-duration: 1000ms;
  min-height: 483px;
  margin: 0 -23px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 39px 0 29px;
}

.u-section-2 .u-shape-1 {
  width: 650px;
  height: 526px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -454px auto 0 -23px;
}

.u-section-2 .u-image-1 {
  width: 746px;
  height: 526px;
  animation-duration: 1000ms;
  margin: -526px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-2 .u-group-1 {
    width: 485px;
    min-height: 441px;
    margin-right: -15px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 95px;
    margin-right: 7px;
    margin-left: 31px;
  }

  .u-section-2 .u-shape-1 {
    width: 520px;
    height: 451px;
    margin-top: -378px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 671px;
    height: 459px;
    margin-top: -455px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-2 .u-group-1 {
    width: 379px;
    min-height: 274px;
    margin-right: -29px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 34px;
    margin-right: 8px;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-1 {
    width: 370px;
    height: 325px;
    margin-top: -248px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 463px;
    height: 317px;
    margin-top: -317px;
    margin-left: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-2 .u-group-1 {
    width: 309px;
    min-height: 249px;
    margin-top: 25px;
    margin-right: -39px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 8px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-shape-1 {
    width: 329px;
    height: 289px;
    margin-top: -200px;
    margin-left: -36px;
  }

  .u-section-2 .u-image-1 {
    width: 398px;
    height: 289px;
    margin-top: -289px;
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-group-1 {
    width: 345px;
    min-height: 278px;
    margin-top: 306px;
    margin-right: -18px;
    margin-left: 13px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 67px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-1 {
    height: 314px;
    width: 357px;
    margin-top: -558px;
    margin-left: -30px;
  }

  .u-section-2 .u-image-1 {
    height: 325px;
    width: 440px;
    margin-top: -325px;
    margin-bottom: 60px;
    margin-left: -23px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 757px;
}

.u-section-3 .u-group-1 {
  width: 1158px;
  min-height: 406px;
  margin: 53px calc(((100% - 1140px) / 2) + -18px) 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  width: 1040px;
  height: 3px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3rem;
  margin: 72px 95px 0;
}

.u-section-3 .u-line-2 {
  width: 1040px;
  height: 3px;
  margin: 50px auto 0;
}

.u-section-3 .u-group-2 {
  width: calc(((100% - 1140px) / 2) + 997px);
  min-height: 220px;
  margin: 78px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-2 {
  line-height: 25.6px;
  font-size: 3rem;
  font-weight: 700;
  margin: 68px 0 0 128px;
}

.u-section-3 .u-icon-1 {
  height: 174px;
  width: 176px;
  margin: -77px 189px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 662px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    min-height: 435px;
    margin-top: -20px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-left: 177px;
    margin-right: 177px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-2 {
    width: 940px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 98px;
    margin-right: 407px;
    margin-left: 49px;
  }

  .u-section-3 .u-icon-1 {
    height: 186px;
    width: 186px;
    margin-top: -96px;
    margin-right: 194px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 537px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-top: 0;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-line-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
    min-height: 178px;
    margin-top: -77px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-top: 70px;
    margin-right: 296px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    height: 151px;
    width: 151px;
    margin-top: -67px;
    margin-right: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 544px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: 1px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-1 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    min-height: 187px;
    margin-top: -79px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 74px;
    margin-right: 228px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -63px;
    margin-right: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 658px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 366px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    min-height: 205px;
    margin-top: 85px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    height: 124px;
    width: 124px;
    margin-top: 26px;
    margin-right: 62px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 3011px;
}

.u-section-4 .u-image-1 {
  width: 477px;
  height: 2778px;
  margin: 1px 304px 0 auto;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-size: 3.75rem;
  margin: -2725px 475px 0 -15px;
}

.u-section-4 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 127px 244px 0 544px;
}

.u-section-4 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 0 -51px 0 554px;
}

.u-section-4 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 224px 770px 0 -15px;
}

.u-section-4 .u-text-5 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 0 537px 0 -15px;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 411px -213px 0 255px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1;
  animation-duration: 1000ms;
  margin: 6px -568px 0 610px;
}

.u-section-4 .u-text-8 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 98px 284px 0 -242px;
}

.u-section-4 .u-image-2 {
  width: 420px;
  height: 297px;
  animation-duration: 1000ms;
  margin: -629px auto 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 781px -151px 0 603px;
}

.u-section-4 .u-text-10 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -153px -275px 0 317px;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: -343px 385px 0 66px;
}

.u-section-4 .u-text-12 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -121px 261px 0 -219px;
}

.u-section-4 .u-image-3 {
  width: 1355px;
  height: 40px;
  animation-duration: 1000ms;
  margin: -137px auto 0 -627px;
}

.u-section-4 .u-image-4 {
  width: 1424px;
  height: 37px;
  animation-duration: 1000ms;
  margin: -230px -712px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 1355px;
  height: 40px;
  animation-duration: 1000ms;
  margin: 261px auto 0 -537px;
}

.u-section-4 .u-image-6 {
  width: 1424px;
  height: 37px;
  animation-duration: 1000ms;
  margin: 309px -792px 0 auto;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 507px auto 0;
  padding: 9px 32px 10px;
}

.u-section-4 .u-text-13 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 39px 21px 48px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2943px;
  }

  .u-section-4 .u-image-1 {
    height: 2780px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 290px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -2691px;
    margin-right: 375px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: -205px;
    margin-left: 453px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -6px;
    margin-right: -50px;
    margin-left: 453px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 219px;
    margin-right: 277px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 451px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 360px;
    margin-right: -237px;
    margin-left: 237px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: -520px;
    margin-left: 520px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 51px;
    margin-right: 180px;
    margin-left: -180px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -557px;
    margin-right: 246px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 830px;
    margin-right: -95px;
    margin-left: 453px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -170px;
    margin-right: -237px;
    margin-left: 237px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: -324px;
    margin-right: 482px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: -185px;
    margin-right: 206px;
    margin-left: -206px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -253px;
    margin-left: -727px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -201px;
    margin-right: -838px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 354px;
    margin-right: 180px;
    margin-left: -595px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 287px;
    margin-right: -849px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 444px;
  }

  .u-section-4 .u-text-13 {
    margin: 0 0 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3098px;
  }

  .u-section-4 .u-image-1 {
    height: 2760px;
    margin-top: 105px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -2820px;
    margin-right: 237px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 109px;
    margin-right: -227px;
    margin-left: 341px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-right: -7px;
    margin-left: 300px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 177px;
    margin-right: 313px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 14px;
    margin-right: 278px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 433px;
    margin-right: -222px;
    margin-left: 223px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 8px;
    margin-right: -384px;
    margin-left: 384px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
    margin-top: 153px;
    margin-right: 208px;
    margin-left: -208px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -653px;
    margin-right: 178px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.125rem;
    margin-top: 852px;
    margin-right: -68px;
    margin-left: 319px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.875rem;
    margin-top: -139px;
    margin-right: -173px;
    margin-left: 173px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.125rem;
    margin-top: -302px;
    margin-right: 271px;
    margin-left: 47px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.875rem;
    margin-top: -160px;
    margin-right: 178px;
    margin-left: -37px;
  }

  .u-section-4 .u-image-3 {
    width: 720px;
    height: 21px;
    margin-top: -209px;
    margin-left: -880px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -282px;
    margin-right: -866px;
    margin-left: 162px;
  }

  .u-section-4 .u-image-5 {
    width: 1290px;
    height: 39px;
    margin-top: 396px;
    margin-right: auto;
    margin-left: -695px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 262px;
    margin-right: -936px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 481px;
    margin-left: 142px;
  }

  .u-section-4 .u-text-13 {
    margin: 47px -106px 53px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2934px;
  }

  .u-section-4 .u-image-1 {
    width: 458px;
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -2663px;
    margin-right: 88px;
    margin-left: -18px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 108px;
    margin-right: -190px;
    margin-left: 251px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -8px;
    margin-right: -18px;
    margin-left: 251px;
  }

  .u-section-4 .u-text-4 {
    font-size: 3.75rem;
    margin-top: 195px;
    margin-right: 249px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
    margin-top: -12px;
    margin-right: 233px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.625rem;
    margin-top: 375px;
    margin-right: -99px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: -214px;
    margin-left: 214px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.625rem;
    margin-top: 148px;
    margin-right: 118px;
    margin-left: -117px;
  }

  .u-section-4 .u-image-2 {
    width: 335px;
    height: 239px;
    margin-top: -558px;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
    margin-top: 866px;
    margin-right: -70px;
    margin-left: 185px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.625rem;
    margin-top: -116px;
    margin-right: -99px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
    margin-top: -411px;
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.625rem;
    margin-top: -124px;
    margin-right: 126px;
    margin-left: -40px;
  }

  .u-section-4 .u-image-3 {
    width: 1182px;
    height: 36px;
    margin-top: -152px;
    margin-left: -749px;
  }

  .u-section-4 .u-image-4 {
    width: 1209px;
    height: 35px;
    margin-top: -253px;
    margin-right: -792px;
    margin-left: 123px;
  }

  .u-section-4 .u-image-5 {
    width: 1229px;
    height: 35px;
    margin-top: 314px;
    margin-right: 0;
    margin-left: -689px;
  }

  .u-section-4 .u-image-6 {
    width: 1194px;
    height: 35px;
    margin-top: 382px;
    margin-right: -777px;
    margin-left: 123px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 400px;
    margin-left: auto;
  }

  .u-section-4 .u-text-13 {
    width: 326px;
    margin: 37px auto 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2212px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 2060px;
    margin-top: 0;
    margin-right: -13px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.625rem;
    margin-top: -1928px;
    margin-right: 79px;
    margin-left: -33px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    margin-top: 139px;
    margin-right: -88px;
    margin-left: 126px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -5px;
    margin-right: -50px;
    margin-left: 126px;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
    margin-top: 171px;
    margin-right: 101px;
    margin-left: -19px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 99px;
    margin-left: -13px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 235px;
    margin-right: -38px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.75rem;
    margin-right: -107px;
    margin-left: 107px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
    margin-top: 126px;
    margin-right: 88px;
    margin-left: -88px;
  }

  .u-section-4 .u-image-2 {
    width: 246px;
    height: 176px;
    margin-top: -414px;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.75rem;
    margin-top: 629px;
    margin-right: -90px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.25rem;
    margin-top: -89px;
    margin-right: -73px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-11 {
    font-size: 0.75rem;
    margin-top: -264px;
    margin-right: 101px;
    margin-left: -35px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.25rem;
    margin-top: -106px;
    margin-right: 59px;
    margin-left: -59px;
  }

  .u-section-4 .u-image-3 {
    width: 963px;
    height: 29px;
    margin-top: -148px;
    margin-left: -688px;
  }

  .u-section-4 .u-image-4 {
    width: 991px;
    height: 28px;
    animation-duration: 500ms;
    margin-top: -213px;
    margin-right: -689px;
    margin-left: 38px;
  }

  .u-section-4 .u-image-5 {
    width: 950px;
    height: 28px;
    margin-top: 289px;
    margin-left: -610px;
  }

  .u-section-4 .u-image-6 {
    width: 966px;
    height: 29px;
    margin-top: 230px;
    margin-right: -673px;
    margin-left: 47px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 331px;
  }

  .u-section-4 .u-text-13 {
    margin: 0 7px 13px;
  }
}